@dex-primary-color2: #ebf6ff;
@dex-primary-color10: #4794ff;

.CodeMirror-merge-r-chunk {
  background: @dex-primary-color2;
}
.CodeMirror-merge-r-chunk-start {
  border-top: 1px solid @dex-primary-color10;
}
.CodeMirror-merge-r-chunk-end {
  border-bottom: 1px solid @dex-primary-color10;
}
.CodeMirror-merge-r-connect {
  fill: @dex-primary-color2;
  stroke: @dex-primary-color2;
  stroke-width: 1px;
}

.CodeMirror-merge-l-chunk {
  background: @dex-primary-color2;
}
.CodeMirror-merge-l-chunk-start {
  border-top: 1px solid @dex-primary-color10;
}
.CodeMirror-merge-l-chunk-end {
  border-bottom: 1px solid @dex-primary-color10;
}
.CodeMirror-merge-l-connect {
  fill: @dex-primary-color2;
  stroke: @dex-primary-color2;
  stroke-width: 1px;
}

.CodeMirror-merge-l-chunk {
  background: @dex-primary-color2;
}
.CodeMirror-merge-r-chunk {
  background: @dex-primary-color2;
}
.CodeMirror-merge-l-chunk-start {
  border-top: 1px solid @dex-primary-color10;
}
.CodeMirror-merge-r-chunk-start {
  border-top: 1px solid @dex-primary-color10;
}
.CodeMirror-merge-l-chunk-end {
  border-bottom: 1px solid @dex-primary-color10;
}
.CodeMirror-merge-r-chunk-end {
  border-bottom: 1px solid @dex-primary-color10;
}

.code-contrast-s8fq5 .CodeMirror-merge-copy,
.CodeMirror-merge-scrolllock-wrap {
  display: none !important;
}

.code-contrast-s8fq5 {
  :global {
    .CodeMirror-merge {
      border: none;
    }
    .CodeMirror-merge {
      height: 100% !important;
    }
    .CodeMirror-merge .CodeMirror {
      height: 100% !important;
    }
    .CodeMirror-merge-gap {
      width: 2%;
      height: 0px !important;
    }
    .CodeMirror-merge-2pane .CodeMirror-merge-pane {
      border-radius: 2px;
      border: 1px solid #edeef6;
      width: 49%;
    }
  }
}