.loginContainer {
    height: 100%;
    background: #3889eb;
    overflow: hidden;
    form {
        width: 600px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: #fff;
        height: 400px;
        padding: 30px;
        border-radius: 8px;
    }
    .loginLogo {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
}