.sider {
    height: 100vh;
    box-shadow: 1px 0 4px 0 rgba(104, 103, 104, 0.3);
    background-color: #001529;
}
.logo {
    margin: 16px;
    background: rgba(255, 255, 255, .2);
    border-radius: 6px;
}